<html>
<style type="text/css">
  td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}
</style>
<h3>Followers</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Profile photo</th>
  </tr>
  <% @followers.each do |f| %>
    <tr>
      <td>
        <%=  f.name %>
      <td>
        <%= f.username %>
      </td>
      <td>
        <%= image_tag f.profile_picture, size: "50" %>
      </td>
    </tr>
  <% end %>
</table>
<br>
<br>
<%= link_to 'Back', :back %>
</html>




